.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  max-width: 400px;
  margin: 0 auto;
}
.card:hover {
  transform: translateY(-5px);
}
.card-header {
  background-color: #007bff;
  color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
  font-weight: bold;
}
.card-body {
  padding: 20px;
}
.card-title {
  color: #333;
  margin-bottom: 10px;
}
.card-text {
  color: #666;
  font-size: 16px;
}
.card-footer {
  background-color: #f8f9fa;
  color: #666;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px;
  font-size: 14px;
}
.text-body-secondary {
  color: #666 !important;
}

.custom-list-group {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 10px;
  padding: 10px;
}

.custom-list-group .list-group-item.active {
  background-color: #007bff;
  color: #fff;
}

.custom-list-group .list-group-item {
  background-color: #fff;
  color: #343a40;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.custom-list-group .list-group-item:hover {
  background-color: #007bff;
  color: #fff;
}


.custom-scrollspy {
  max-height: 400px;
  overflow-y: auto;
  padding-right: 10px;
}

.custom-scrollspy h4 {
  margin-top: 20px;
  color: #343a40;
}

.custom-scrollspy p {
  margin-bottom: 20px;
  color: #6c757d;
}

/* Custom accordion styles */
.accordion-button {
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.accordion-button:hover {
  background-color: #0056b3;
}

.accordion-body {
  background-color: #f8f9fa;
  padding: 20px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
}

.accordion-item {
  margin-bottom: 20px;
}

/* Collapse icon */
.accordion-button::after {
  content: '\002B';
  font-size: 24px;
  float: right;
}

.collapsed::after {
  content: '\2212';
}

/* Hover effect on collapse icon */
.accordion-button:hover::after {
  color: #fff;
}

/* Custom accordion body styles */
.accordion-body {
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  border-radius: 0 0 0.25rem 0.25rem;
  padding: 20px;
  margin-bottom: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.accordion-body p {
  font-size: 16px;
  line-height: 1.5;
  color: #555;
}

/* Add animation to accordion body */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.accordion-body {
  animation: fadeIn 0.5s ease-in-out;
}


